body {
  font-family: sans-serif;
  background: #faf7f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  width: 320px;
  text-align: center;
  border-radius: 14px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 15px 0;
  direction: rtl;
}

button {
  padding: 10px 20px;
  border: none;
  background: #ff6b6b;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
  direction: rtl;
  font-family: 'Vazir', Tahoma, Arial, sans-serif;
}

.hidden {
  display: none;
}

.success-title {
  margin-bottom: 20px;
  color: #ff6b6b;
}

.message {
  white-space: pre-wrap; /* IMPORTANT for new lines */
  line-height: 1.9;
  direction: rtl;
  font-family: 'Vazir', Tahoma, Arial, sans-serif;
}